<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" formControlName="title" fullWidth shape="semi-round" nbInput placeholder="Title">
          <div *ngIf="form.controls['title'].invalid && form.controls['title'].dirty">
            <small *ngIf="form.controls['title'].hasError('required')" class="text-danger">Field is required!</small>
          </div>
        </div>
        <div class="form-group">
          <label for="title">Content</label>
          <textarea formControlName="content" nbInput fullWidth shape="semi-round" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label for="title">Column</label>
          <nb-select formControlName="columnId" placeholder="Choose column" outline status="primary" shape="semi-round">
            <nb-option *ngFor="let column of columns" [value]="column._id">{{ column.title }}</nb-option>
          </nb-select>
          <div *ngIf="form.controls['columnId'].invalid && form.controls['columnId'].dirty">
            <small *ngIf="form.controls['columnId'].hasError('required')" class="text-danger">Field is required!</small>
          </div>
        </div>
        <div class="form-group">
          <label for="title">Assaigned Users</label>
          <!-- <nb-select formControlName="assignedUsers" placeholder="Assign users" multiple outline status="primary" shape="semi-round">
            <nb-option *ngFor="let user of users" [value]="user">{{ user }}</nb-option>
          </nb-select> -->
          <tag-input [theme]="'foundation-theme'" formControlName="assignedUsers" [onlyFromAutocomplete]="true" [modelAsStrings]="true">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [autocompleteItems]="users"
                                [zIndex]="1100">
            </tag-input-dropdown>
          </tag-input>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <!-- <button nbButton (click)="ref.close()">Close Dialog</button> -->
      <button nbButton (click)="submit()" [disabled]="!this.form.valid">Submit</button>
      <button nbButton (click)="form.reset()">Reset</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<span (click)="open(dialog)">{{ title }}</span>
