<nb-card>
    <nb-card-body>

      <nb-actions size="small">
        <nb-action icon="nb-search" (click)="getRowData()"></nb-action>
        <nb-action icon="nb-power-circled"></nb-action>
        <nb-action icon="nb-person"></nb-action>
        <nb-action icon="nb-home"></nb-action>
        <nb-action icon="nb-gear" disabled></nb-action>
        <nb-action>
          Custom Action
        </nb-action>
      </nb-actions>

    </nb-card-body>
  </nb-card>
<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>

