<nb-card>
    <nb-card-body>

    <nb-actions size="small">
      <nb-action icon="nb-search"></nb-action>
      <nb-action icon="nb-power-circled"></nb-action>
      <nb-action icon="nb-person"></nb-action>
      <nb-action icon="nb-home"></nb-action>
      <nb-action icon="nb-gear" disabled></nb-action>
      <nb-action>
        Custom Action
      </nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>

  <section *ngIf="board" id="main" >
    <div *ngFor="let column of board.columns | orderBy : 'order'" class="sortable-column">
      <ngx-trello-column [column]="column"
          (onAddCard)="addCard($event)"
          [cards]="board.cards">
      </ngx-trello-column>
    </div>
    <div class="add-column"
         (click)="enableAddColumn()" >
      <span [style.display]="addingColumn ? 'none' : ''" >Add a list...</span>

      <input
        [style.display]="addingColumn ? '' : 'none' "
        (keyup)="addColumnOnEnter($event)"
        (blur)="addColumnOnBlur()"
        [(ngModel)]="addColumnText" />
    </div>
  </section>
