
:host nb-layout-column {
  height: 50vw;
}
:host nb-layout-column:first-child {
  background: #e3e6f9;
}
:host nb-layout-column:nth-child(2) {
  background: #edeef7;
}
:host nb-layout-column:last-child {
  background: #f4f4f7;
}

nb-layout.with-scroll .scrollable-container {
  height: 50%;
}

.board-title {
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.board-title span {
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  cursor: hand;
}

.board-title input {
    margin: -3px -2px;
    font-size: 18px;
    font-weight: bold;
}

.col-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.row {
  margin-bottom: 10px;
  min-height: calc(100vh - 387px);
}
